version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: ve_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: ve_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  web:
    build: .
    container_name: ve_web
    command: ["/app/entrypoint.sh"]
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      RADIS_HOST: redis
      CELERY_BROKER_HOST: redis
      CELERY_BACKEND_HOST: redis
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  celery-worker:
    build: .
    container_name: ve_celery_worker
    command: celery -A app.background.celery_app worker -l INFO
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      RADIS_HOST: redis
      CELERY_BROKER_HOST: redis
      CELERY_BACKEND_HOST: redis
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app

  celery-beat:
    build: .
    container_name: ve_celery_beat
    command: celery -A app.background.celery_app beat -l INFO
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      RADIS_HOST: redis
      CELERY_BROKER_HOST: redis
      CELERY_BACKEND_HOST: redis
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app

volumes:
  pg_data:
  redis_data: